{% extends "base.html" %}
{% set tytul_aplikacji = "HUB Aplikacji" %}
{% block content %}
<div class="row text-center mt-5">
    <div class="col-md-3 mb-4">
        <div class="card h-100 p-4 shadow-sm">
            <div class="card-body">
                <i class="fas fa-wallet fa-4x mb-4 text-primary"></i>
                <h2 class="h3 mb-4">Finanse</h2>
                <a href="/finanse" class="btn btn-outline-primary w-100">Otwórz</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card h-100 p-4 shadow-sm">
            <div class="card-body">
                <i class="fas fa-chart-line fa-4x mb-4 text-success"></i>
                <h2 class="h3 mb-4">Inwestycje</h2>
                <a href="/inwestycje" class="btn btn-outline-success w-100">Otwórz</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card h-100 p-4 shadow-sm">
            <div class="card-body">
                <i class="fas fa-heartbeat fa-4x mb-4 text-danger"></i>
                <h2 class="h3 mb-4">Zdrowie</h2>
                <a href="/zdrowie" class="btn btn-outline-danger w-100">Otwórz</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card h-100 p-4 shadow-sm">
            <div class="card-body">
                <i class="fas fa-project-diagram fa-4x mb-4" style="color: #ff6d5a;"></i>
                <h2 class="h3 mb-4">Automatyzacja</h2>
                <a href="http://192.168.1.130:5678/" target="_blank" class="btn btn-outline-warning w-100" style="border-color: #ff6d5a; color: #ff6d5a;">n8n</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
