DB_HOST=192.168.1.***
DB_USER=database_user
DB_PASS=database_password
DB_NAME=homeassistant
HOME_ASSISTANT_URL=http://192.168.1.***:8123/api/states/sensor.***
HA_TOKEN="e***8"
OPENWEATHER_API_KEY="5***a"
HEALTH_CONNECT_FOLDER_ID=kod
